<%inherit file="base.html"/>

<%def name="body()">
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-min.js"></script>
	<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
	<link rel="stylesheet" href="css/jquery.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="css/config_sonos.css" type="text/css" media="screen"/>
	<% print pluginlist %>
	%for plugin in pluginlist:
		<div class="container" id="container">     
		<ul class="tabs">
			<li><a href="#${plugin['name']}" >${plugin['name'].upper()}</a></li>
        	</ul>
		</div>
	%endfor
	<div class="config_sonos" id="${plugin['name']}" align=center>
	<p>
		<lable><h1><u>${title}</u></h1></lable>
	%for plugin in pluginlist:
		<% print plugin['config_page'] %>
		%if plugin['config_page']:
			<%include file="${plugin['config_page']}"/>
		%endif
	%endfor
	</p>
	</div>
	
</%def>